.artwork {
    width: 53px;
    height: 53px;
    margin: 10px 15px 10px 0px;

}

.track-name  {
    font-size: 14px;
    color: #111;
}

.artist-name {
    margin-top:5px;
    font-size: 11px;
    color: rgb(65, 65, 65);
}