<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>설정</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" *ngIf="!loginState" class="btn" [routerLink]="['/login']">로그인</ion-button>
  <div *ngIf="loginState">
    <ion-item button [routerLink]="['/mypage']" detail>
      <ion-icon name="person" mode="md"></ion-icon>
      <ion-label>마이페이지</ion-label>
    </ion-item>
    <ion-item (click)="logout()">
      <ion-text color="primary">로그아웃</ion-text>
    </ion-item>
  </div>
</ion-content>