<ion-header translucent>
  <ion-toolbar>
    <ion-title>설정</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-button expand="full" *ngIf="!loginState" class="btn" [routerLink]="['/login']">로그인</ion-button>
    <ion-item button *ngIf="loginState" [routerLink]="['/mypage']">
      <ion-label>마이페이지</ion-label>
    </ion-item>
    <ion-item button [routerLink]="['/app-password']">
      <ion-label>앱 비밀번호 설정</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label *ngIf="loginState" (click)="logout()">로그아웃</ion-label>
    </ion-item>
  </ion-list>
</ion-content>