<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>새로운 리뷰북 추가</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()">저장</ion-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content>
    <form [formGroup]="reviewForm">
    <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
  <ion-item>
    <ion-label position="stacked">제목</ion-label>
    <ion-input formControlName="title" slot="end"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">유형</ion-label>
    <ion-input value="{{category}}" formControlName="type" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">아이콘리스트</ion-label>
  </ion-item>
  </form>
</ion-content>