<ion-header>
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>새로운 리뷰</ion-title>

    <ion-buttons slot="end">
      <ion-button type="submit" (click)="onSubmit()" [disabled]="!reviewForm.valid">
        저장
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <div>
    <ion-item lines="none" class="wrap">
        <!-- <rating [(rating)]="rating" ></rating> -->
      <ion-icon name="search" (click)="openSearchMovieModal()"></ion-icon>
    </ion-item>
  </div>

</ion-header>

<ion-content padding>



  <form [formGroup]="reviewForm">
    <ion-grid>
      <!-- <ion-input hidden value="{{rating}}" formControlName="rating"></ion-input> -->
      <ion-row *ngIf="movie">
        <ion-col size='4'>
            <div class="image-wrap">
                <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" *ngIf="movie.poster_path; else defaultImage">
              </div>
              <ng-template #defaultImage>
                  <div class="default-image">
                    <p>No</p>
                    <p>Image</p>
                  </div>
                </ng-template>
          <ion-input hidden value="{{movie.poster_path}}" formControlName="poster_path"></ion-input>
        </ion-col>
        <ion-col size='8'>
          <ion-item>
            <ion-input placeholder="제목" value="{{movie.title}}" formControlName="title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="감독"value="{{movie.director?.name}}"formControlName="director"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="개봉일" value="{{movie.release_date}}" formControlName="release_date"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='12'>
          <ion-item>
            <ion-label>장르</ion-label>
            <ion-select interface="popover" formControlName="genre" value="{{movie.genre}}">
              <ion-select-option *ngFor='let genre of movieService.genres'value="{{genre.id}}">{{genre.name}}
              </ion-select-option>

            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">줄거리</ion-label>
            <ion-textarea rows="6" cols="20" placeholder="줄거리..." value="{{movie?.overview}}"
              formControlName="overview"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label>관람일</ion-label>
            <ion-datetime [doneText]="'저장'" [cancelText]="'취소'" [pickerOptions]="dateOptions" displayFormat="YYYY-MM-DD"
              value="{{nowdate}}" placeholder="관람일" formControlName="watch_date"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label position="fixed">관람장소</ion-label>
            <ion-input type="text" style="text-align: right"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">금액</ion-label>
            <ion-input type="text" style="text-align: right" placeholder="원"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="stacked" position="stacked">명대사</ion-label>
            <ion-input type="text" formControlName="famouse_line"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="stacked" position="stacked">감상평</ion-label>
            <ion-input type="text" formControlName="review"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">태그</ion-label>
            <ion-input type="text" formControlName="tags"></ion-input>
          </ion-item>
          <ion-item>
            <ion-note>태그는 쉼표(,) 를 통해 구분되며 쉼표의 앞뒤에 있는 빈칸은 무시됩니다.</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-label>사진</ion-label>
      <!-- <ion-row>
          <ion-col size='3' *ngFor="let img of imageService.images; index as pos">
  
            <ion-img [src]="img.path"></ion-img>
            <ion-button expand="full" (click)="imageService.deleteImage(img, pos)">
              삭제
            </ion-button>
          </ion-col>
          <ion-col size='3'>
  
            <ion-button expand="full" color='danger' (click)="imageService.selectImage()">추가</ion-button>
          </ion-col>
        </ion-row> -->
    </ion-grid>
  </form>

</ion-content>