ion-select {
    width: auto;

 }
ion-tab-bar{
    overflow-x: scroll;
    justify-content: left;
    border-bottom: solid 1px #e8e8e8;
    outline: none;
    width: 100%;
    padding: 0;
    margin: 0;
   .tab-category{ 
        min-width: 70px;
        font-size: 13px;
        color: #444;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}
 
ion-item:not(.item-label) .sc-ion-input-md-h {
    --padding-start: 10px
}

ion-input{
    --padding-bottom: 15px;
}
