<ion-header>
  <ion-toolbar>
    <ion-title>검색</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-select placeholder="리뷰" interface="popover" slot="start">
      <ion-select-option value="review">리뷰</ion-select-option>
      <ion-select-option value="reviewbook">리뷰북</ion-select-option>
      <ion-select-option value="tag">태그</ion-select-option>
    </ion-select>
    <ion-input placeholder="검색"></ion-input>
  </ion-item>
</ion-header>
<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button *ngFor="let category of categories" tab="movie">
        <ion-label class="tab-category">{{category}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>