<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{titleText}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()" [disabled]="!reviewForm.valid">
        <ion-icon name="md-checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none" class="rating-wrap">
      <rating [(rating)]="rating"></rating>
      <ion-icon class="btn-search" name="search" (click)="openSearchBookModal()"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="reviewForm">
    <ion-grid>
      <ion-input hidden [value]="rating" formControlName="rating"></ion-input>
      <ion-row>
        <ion-col size='4'>
          <div class="image-wrap">
            <img [src]="book?.image" *ngIf="book?.image; else defaultImage">
          </div>
          <ng-template #defaultImage>
            <div class="default-image">
              <p>No</p>
              <p>Image</p>
            </div>
          </ng-template>
          <ion-input hidden [value]="book?.image" formControlName="image"></ion-input>
        </ion-col>
        <ion-col size='8'>
          <ion-item>
            <ion-input placeholder="제목" class="book-title" [value]="book?.title" formControlName="title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="저자" class="author" [value]="book?.author" formControlName="author"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="출판사" class="pub" [value]="book?.publisher" formControlName="publisher">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-datetime class="pubdate" [doneText]="'저장'" [cancelText]="'취소'" [pickerOptions]="dateOptions"
              displayFormat="YYYY-MM-DD" placeholder="출판일" [value]="book?.pubdate | date : 'yyyy-MM-dd'"
              formControlName="pubdate">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>독서 시작일</ion-label>
            <ion-datetime [(ngModel)]="readingStartDate" [doneText]="'저장'" [cancelText]="'취소'"
              [pickerOptions]="dateOptions" displayFormat="YYYY-MM-DD" placeholder="YYYY-MM-DD"
              formControlName="readingStartDate">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>독서 종료일</ion-label>
            <ion-datetime [(ngModel)]="readingEndDate" [doneText]="'저장'" [cancelText]="'취소'"
              [pickerOptions]="dateOptions" displayFormat="YYYY-MM-DD" placeholder="YYYY-MM-DD"
              formControlName="readingEndDate"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">금액</ion-label>
            <ion-input type="text" [value]="book?.price" formControlName="price" text-right></ion-input>
            <span>원</span>
          </ion-item>
          <ion-item class="textarea-wrap" lines="none">
            <ion-label position="fixed">줄거리</ion-label>
          </ion-item>
          <ion-item>
            <ion-textarea autoGrow class="book-description" placeholder="..." [value]="book?.description"
              formControlName="description"></ion-textarea>
          </ion-item>
          <ion-item class="textarea-wrap" lines="none">
            <ion-label position="fixed">인상 깊은 구절</ion-label>
          </ion-item>
          <ion-item>
            <ion-textarea autoGrow rows="2" cols="20" placeholder="..." [value]="book?.impressivePassage"
              formControlName="impressivePassage">
            </ion-textarea>
          </ion-item>
          <ion-item class="textarea-wrap" lines="none">
            <ion-label position="fixed">감상평</ion-label>
          </ion-item>
          <ion-item>
            <ion-textarea autoGrow rows="4" cols="20" placeholder="..." [value]="book?.review" formControlName="review">
            </ion-textarea>
          </ion-item>
          <div class="tag-wrap">
            <ion-item>
              <ion-label class="tag-label" position="stacked">태그</ion-label>
              <ion-input class="tags" type="text" formControlName="tags" [value]="book?.tags"></ion-input>
            </ion-item>
            <p class="tag-notice"> 태그는 쉼표(,) 를 통해 구분되며 쉼표의 앞뒤에 있는 빈칸은 무시됩니다.</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>