ion-textarea,
span,
ion-input {
    font-size: 13px;
    color: #333;
}

span {
    padding-right: 3px;
}

ion-item {
    --min-height: 30px;
    --padding-start: 5px;
    --padding-end: 5px;
}

ion-datetime {
    padding-left: 1px;
    padding-right: 3px;
    font-size: 13px;
    --placeholder-color: rgb(117, 117, 117);
    color: #333;
}


ion-input.tags{
    --padding-start:5px;
}

ion-item>ion-label {
    font-size: 13px;
    margin: 13px 3px;
    font-weight: 500;
    --color: #222;
}


ion-item.textarea-wrap>ion-label,
ion-item>ion-label.tag-label {
    font-size: 15px;
    margin: 21px 3px 7px;
}

div.image-wrap {
    height: 145px;
    align-items: center;
    justify-content: center;
    display: contents;

    img {
        padding-left: 8px;
        padding-top: 5px;
        width: 120px;
        height: 145px;
    }
}

.default-image {
    border: 1px solid #eee;
    display: block;
    padding-top: 25px;
    margin-top: 5px;
    margin-left: 8px;
    height: 100%;

    p {
        width: 100%;
        vertical-align: middle;
        text-align: center;
        font-size: 16px;
        height: 20px;
        color: #666;
    }
}

ion-item>ion-input.book-title {
    font-size: 14px;
    font-weight: 500;
}

ion-item>ion-input.author {
    font-size: 13px;
    font-weight: 500;
}

ion-item>ion-input.pub {
    font-size: 12px;
    font-weight: 400;
}

ion-item>ion-datetime.pubdate {
    font-size: 12px;
    font-weight: 400;
}

.price {
    text-align: end;
    width: 100%;
}