@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

ion-content {
    font-family: 'Noto Sans KR', sans-serif;
}

ion-grid {
    padding: 5px 5px;
    text-align: -webkit-center;
}

ion-col {
    align-content: center;
}

img {
    width: 100px;
    height: 100px;
}

.info-stats {
    width: 26px;
    height: 26px;
    margin-right: 12px;
    vertical-align: middle;
}

ion-card {
    -webkit-margin-start: 5px;
    margin-inline-start: 5px;
    -webkit-margin-end: 5px;
    margin-inline-end: 5px;
    margin-top: 24px;
    margin-bottom: 12px;
    width: 100px;
}

ion-card-header {
    padding: 0px 8px 10px;
    height: 55px;

}

ion-card-title,
.track-name {
    font-size: 12px;
    font-weight: 500;
    color: #111;
    max-height: 30px;
    overflow: hidden;
    margin-top: 3px;
}

ion-card-subtitle,
.artist-name {
    font-size: 10px;
    font-weight: normal;
    color: #444;
    margin-top: 4px;
}

ion-card-content {
    padding: 8px 8px 3px;

    .stars {
        font-size: 12px;
        color: #ffbf00;
    }
}