<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reviewbook/list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="info-stats" name="information-circle-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <div>
    <ion-searchbar></ion-searchbar>
  </div>
</ion-header>


<ion-content fullscreen>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openWritePage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid *ngIf="reviews">
    <ion-row>
      <ion-col size="4" *ngFor="let review of reviews">
        <ion-card>
          <img [src]=review.image />
          <ion-card-header>
            <ion-card-subtitle>{{review.author}}</ion-card-subtitle>
            <ion-card-title>{{review.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="stars">★★★★★</p>
            <p class="preview">{{review.description}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>