ion-buttons.btn-back{
    height:48px; 
}

ion-item {
    --min-height: 135px;
    --inner-padding-top:7px;
    --inner-padding-bottom:7px;
    vertical-align: middle;
    align-content: center;
    align-items: center;
}

.artwork {
    width: 53px;
    height: 53px;
    margin: 10px 15px 10px 0px;

}

.track-name  {
    font-size: 14px;
    color: #111;
}

.artist-name {
    margin-top:5px;
    font-size: 11px;
    color: rgb(65, 65, 65);
}