<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{data?.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteReview()">
        <ion-icon name="md-trash"></ion-icon>
      </ion-button>
      <ion-button (click)="shareReview()">
        <ion-icon name="md-share"></ion-icon>
      </ion-button>
      <ion-button (click)="editReview()">
        <ion-icon name="md-create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="heart" class="btn-like" *ngIf="likeState" (click)="cancelLike()" mode="md"
        [style.color]="'#D33131'"></ion-icon>
      <ion-icon name="heart" class="btn-like" *ngIf="!likeState" (click)="addLike()" mode="md" [style.color]="'#fff'">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid *ngIf="data">
    <ion-item lines="none" class="rating-view-wrap">
      <ion-icon size="large" name="star" *ngFor="let num of [1,2,3,4,5]"
        [style.color]="data.rating >=num ? '#ffbf00':'#e0e0e0'">
      </ion-icon>
    </ion-item>
    <ion-row>
      <ion-col size='4'>
        <div class="image-wrap">
          <img [src]="data.image" *ngIf="data?.image; else defaultImage">
        </div>
        <ng-template #defaultImage>
          <div class="default-image">
            <p>No</p>
            <p>Image</p>
          </div>
        </ng-template>
      </ion-col>
      <ion-col size='8'>
        <ion-item>
          <ion-label class="book-title"> {{data.title}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="author"> {{data.author}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="pub"> {{data.publisher}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-datetime class="pubdate" displayFormat="YYYY/MM/DD" value="{{data.pubdate}}" readonly></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="info-bottom">
      <ion-col>
        <ion-item>
          <ion-label>독서 시작일</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" value="{{data.readingStartDate}}" readonly> </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>독서 종료일</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" value="{{data.readingEndDate}}" readonly> </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">금액</ion-label>
          <span class="price"> {{data.price| number:'2.'}} 원</span>
        </ion-item>
        <ion-item class="textarea-wrap" lines="none">
          <ion-label position="fixed">줄거리</ion-label>
        </ion-item>
        <ion-item class="textarea-wrap">
          <ion-textarea autoGrow readonly value="{{data.description}}"></ion-textarea>
        </ion-item>
        <ion-item class="textarea-wrap" lines="none">
          <ion-label position="fixed">인상 깊은 구절</ion-label>
        </ion-item>
        <ion-item class="textarea-wrap">
          <ion-textarea autoGrow readonly value="{{data.impressivePassage}}"></ion-textarea>
        </ion-item>
        <ion-item class="textarea-wrap" lines="none">
          <ion-label position="fixed">감상평</ion-label>
        </ion-item>
        <ion-item class="textarea-wrap">
          <ion-textarea autoGrow readonly value="{{data.review}}"></ion-textarea>
        </ion-item>
        <div class="tag-wrap" *ngIf="data.tags[0]!==''">
          <ion-item lines="none">
            <ion-label class="tag-label" position="fixed">태그</ion-label>
          </ion-item>
          <div class="tags">
          <ion-chip *ngFor="let item of data.tags" color="danger" (click)="searchTag(item)">
            <ion-label color="danger">{{item}}</ion-label>
          </ion-chip>
        </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>