    <ion-grid >
      <div >
        <ion-row class="ion-align-items-center ">
          <ion-col class="ion-padding" size="6" (click)="openMovie()" >
            <div>
                <ion-icon slot="icon-only" name="videocam" color='success'></ion-icon>
            </div>
            <ion-text style="text-align: center">
              <div>MOVIE</div>
            </ion-text>
          </ion-col >
          <ion-col class="ion-padding" size="6">
            <div>
                <ion-icon slot="icon-only" name="book" color='warning'></ion-icon>
            </div>
            <ion-text style="text-align: center">
                <div>BOOK</div>
              </ion-text>
          </ion-col>
        </ion-row>
      
        <ion-row class="ion-align-items-center ">
            <ion-col class="ion-padding" size="6">
              <div>
                  <ion-icon slot="icon-only" name="easel" color='danger'></ion-icon>
              </div>
              <ion-text style="text-align: center">
                  <div>DRAMA</div>
                </ion-text>
            </ion-col >
            <ion-col class="ion-padding" size="6">
              <div>
                  <ion-icon slot="icon-only" name="musical-notes" color="tertiary"></ion-icon>
              </div>
              <ion-text style="text-align: center">
                  <div>MUSIC</div>
                </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center ">
              <ion-col class="ion-padding" size="6">
                <div>
                    <ion-icon slot="icon-only" name="pizza" color="secondary"></ion-icon>
                </div>
                <ion-text style="text-align: center">
                    <div>TASTY</div>
                  </ion-text>
              </ion-col >
              <ion-col class="ion-padding" size="6">
                <div>
                    <ion-icon slot="icon-only" name="search" color="dark"></ion-icon>
                </div>
                <ion-text style="text-align: center">
                    <div>SEARCH</div>
                  </ion-text>
              </ion-col>
            </ion-row>
          </div>
      </ion-grid>