<ion-grid>
  <div>
    <ion-row class="ion-align-items-center ">
      <ion-col class="ion-padding" size="6" (click)="openMovie()">
        <div>
          <img src="assets/img/icon_books.png">
        </div>
        <ion-text style="text-align: center">
          <div>책</div>
        </ion-text>
      </ion-col>
      <ion-col class="ion-padding" size="6">
        <div [routerLink]="['/reviewbook/list']">
          <img src="assets/img/icon_movie.png">
        </div>
        <ion-text style="text-align: center">
          <div>영화</div>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col class="ion-padding" size="6">
        <div>
          <img src="assets/img/icon_tv.png">
        </div>
        <ion-text style="text-align: center">
          <div>TV프로그램</div>
        </ion-text>
      </ion-col>
      <ion-col class="ion-padding" size="6">
        <div>
          <img src="assets/img/icon_restaurant.png"> </div>
        <ion-text style="text-align: center">
          <div>맛집</div>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ">
      <ion-col class="ion-padding" size="6">
        <div>
          <img src="assets/img/icon_music.png"> </div>
        <ion-text style="text-align: center">
          <div>MUSIC</div>
        </ion-text>
      </ion-col>
      <ion-col class="ion-padding" size="6">
        <div>
          <img src="assets/img/icon_movie.png"> </div>
        <ion-text style="text-align: center">
          <div>SEARCH</div>
        </ion-text>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>