ion-grid {
    display:flex; 
    align-items: center;
}

img {
    width: 13vw;
    margin: 2vh;
}

ion-col{
    cursor: pointer;
}

@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Jua&display=swap&subset=korean');

* {
    font-family: 'Jua', 'Do Hyeon';
    font-size: 20px;
}
