<ion-content>
  <div class="wrap">
    <ion-row>
      <ion-col class="ion-padding" size="6">
        <div (click)="openBookList()" [routerLink]="['/book']">
          <img src="assets/img/home/icon_books.png">
          <ion-label>책</ion-label>
        </div>
      </ion-col>
      <ion-col class="ion-padding" size="6">
        <div (click)="openMovieList()" [routerLink]="['/reviewbook/list']">
          <img src="assets/img/home/icon_movie.png">
          <ion-label>영화</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding" size="6">
        <div (click)="openTVList()">
          <img src="assets/img/home/icon_tv.png">
          <ion-label>TV프로그램</ion-label>
        </div>
      </ion-col>
      <ion-col class="ion-padding" size="6">
        <div (click)="openFoodList()" [routerLink]="['/food']">
          <img src="assets/img/home/icon_restaurant.png">
          <ion-label>맛집</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding" size="6">
        <div (click)="setMusic()" [routerLink]="['/music']">
          <img src="assets/img/home/icon_music.png">
          <ion-label>음악</ion-label>
        </div>
      </ion-col>
      <ion-col class="ion-padding" size="6">
        <div>
          <img src="assets/img/home/icon_like.png">
          <ion-label>즐겨찾기</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>