<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{review?.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteReview()">
        <ion-icon name="md-trash"></ion-icon>
      </ion-button>
      <ion-button (click)='shareReview()'>
        <ion-icon name="md-share"></ion-icon>
      </ion-button>
      <ion-button (click)="editReview()">
        <ion-icon name="md-create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="heart" class="btn-like" *ngIf="likeState" (click)="cancelLike()" mode="md"
        [style.color]="'#D33131'"></ion-icon>
      <ion-icon name="heart" class="btn-like" *ngIf="!likeState" (click)="addLike()" mode="md" [style.color]="'#fff'">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid *ngIf="review">
    <ion-item lines="none" class="rating-view-wrap">
      <ion-icon size="large" name="star" *ngFor="let num of [1,2,3,4,5]"
        [style.color]="review.rating >=num ? '#ffbf00':'#e0e0e0'">
      </ion-icon>
    </ion-item>
    <ion-row>
      <ion-col size='4'>
        <div class="image-wrap">
          <img src="https://image.tmdb.org/t/p/w500{{review.posterPath}}" *ngIf="review?.posterPath; else defaultImage">
        </div>
        <ng-template #defaultImage>
          <div class="default-image">
            <p>No</p>
            <p>Image</p>
          </div>
        </ng-template>
      </ion-col>
      <ion-col size='8'>
        <ion-item>
          <ion-label text-wrap> {{review.title}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>{{review.broadcaster}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>{{review.releaseDate|date:'yyyy-MM'}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>장르</ion-label>
          <ion-label text-wrap>{{tvService.getGenre(review.genre)}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>시청시작일</ion-label>
          <ion-label text-wrap>{{review.watchStartDate|date:'yyyy-MM-dd'}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>시청종료일</ion-label>
          <ion-label text-wrap>{{review.watchEndDate|date:'yyyy-MM-dd'}}</ion-label>
        </ion-item>
        <ion-item class="textarea">
          <ion-label position="fixed">줄거리</ion-label>
        </ion-item>
        <ion-item class="textarea">
          <ion-label text-wrap> {{review.overview}}</ion-label>
        </ion-item>

        <ion-item class="textarea">
          <ion-label position="fixed">감상평</ion-label>
        </ion-item>
        <ion-item class="textarea">
          <ion-label text-wrap> {{review.review}}</ion-label>
        </ion-item>

        <ion-item class="textarea">
          <ion-label position="fixed" id="episode">인상깊은 에피소드</ion-label>
        </ion-item>

        <div *ngFor="let episode of review.episodes">
          <ion-item class="textarea">
            <ion-label text-wrap>{{episode}}</ion-label>
          </ion-item>
        </div>


        <ion-item>
          <ion-label position="stacked">태그</ion-label>
          <p>
            <ion-chip outline color="primary" *ngFor="let tag of review.tags"(click)="searchTag(tag)">
              <ion-label>{{tag}}</ion-label>
            </ion-chip>
          </p>
        </ion-item>
        <p class="tag-notice"> 태그는 쉼표(,) 를 통해 구분되며 쉼표의 앞뒤에 있는 빈칸은 무시됩니다.</p>
      </ion-col>
    </ion-row>
    <ion-label>사진</ion-label>
  </ion-grid>

</ion-content>