<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{reviewbookTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="info-stats" name="information-circle-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchReview($event)" mode="ios" placeholder="검색">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openWritePage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid *ngIf="reviews">
    <ion-row>
      <ion-col size="4" *ngFor="let review of reviews">
        <ion-card (click)="openReivewDetailPage(review)">
          <img [src]=review.artworkUrl100 />
          <ion-card-content>
            <ion-icon class="list-star-icon" name="star" *ngFor="let num of [1,2,3,4,5]"
              [style.color]="review.rating >=num ? '#ffbf00':'#e0e0e0'">
            </ion-icon>
          </ion-card-content>
          <ion-card-header>
            <ion-card-title class="track-name">{{review.trackName}}</ion-card-title>
            <ion-card-subtitle class="artist-name">{{review.artistName}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>