ion-buttons.btn-back {
    height: 48px;
}

.select-icon {
    margin: 30px auto 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

ion-select,
ion-input {
    font-size: 14px;
}

ion-item {
    --min-height: 30px;
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-bottom: 3px;
}

ion-item>ion-label {
    font-size: 14px;
    margin: 13px 3px;
    font-weight: 540;
    --color: rgb(47, 47, 47);
}