// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


:root {
    --ion-color-primary: #c6a477;
    --border-color: #c6a477;
}

.reviewbook-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-translucent-ios ion-toolbar {
    --opacity: 100;
    // --backdrop-filter: none;

}

ion-toolbar {
    --ion-color-primary: #333;
    padding-left: 4px;
    padding-right: 4px;
    ion-icon{
        font-size: 23px;
    }
}

.header-ios ion-toolbar:last-child {
    --border-width: 0 0 0;
}

.filter {
    width: 26px;
    height: 26px;
    margin-right: 12px;
    vertical-align: middle;
}

ion-item {
    --min-height: 30px;
    --padding-start: 5px;
    --padding-end: 5px;
    --inner-padding-start: 2px;
}

ion-textarea {
    padding: 0px 5px 20px;
}

ion-item.textarea-wrap {
    --inner-padding-end: 0px;

    ion-textare {
        padding: 4px;
        margin-bottom: 7px;
    }
}


.detail-icon {
    font-size: 21px;
}
.sorting {
    margin: 10px;
}

.msg-wrap {
    width: 100%;
    height: 100%;
    padding: 50% 10%;
    text-align: center;
    clear: both;
    position: absolute;
}

.list-star-icon {
    font-size: 13px;
}

.rating-wrap {
    position: relative;
    margin: 0 auto 16px;

    rating {
        margin: 0 auto;
    }

    .btn-search {
        position: fixed;
        right: 15px;
    }
}

.rating-view-wrap {
    position: relative;
    margin: 0 auto 16px;
    width: fit-content;
}


// 좋아요 버튼
.btn-like {
    padding: 0px 5px;
    // font-size: 25px;
}


// 좋아요 숫자
.like-count {
    font-size: 16px;
    color: #444;
    text-align: left;
    padding: 0px;
    margin: 0px;
    justify-self: center;
    padding: 0px;
    margin: 0px;
    line-height: 20px;
}

ion-fab-button {
    --background-activated: #b8986f;
    --background-hover: #d8b485;
    margin-right: 4px;
    margin-bottom: 20px;
}


ion-button.btn {
    font-size: 15px;
    height: 55px;
    text-align: center;
    --background: #c6a477;
    --background-activated: #c6a477;
    --background-hover: #c6a477;
    --border-color: #fff;
    border: 1px solid;
    --border-width: 10px;
    --box-shadow: none;
    --color: #fff;
    --color-activated: #fff;
    --color-focused: #fff;
    --color-hover: #fff;
}

.default-image {
    border: 1px solid #eee;
    display: block;
    padding-top: 25px;
    margin-top: 5px;
    margin-left: 8px;
    height: 100%;

    p {
        width: 100%;
        vertical-align: middle;
        text-align: center;
        font-size: 16px;
        height: 20px;
        color: #666;
    }
}

.tag-wrap {
    padding-bottom: 75px;
}

.tags {
    margin-top: 9px;
}

.tag-notice {
    font-size: 11px;
    color: #555;
    padding-left: 8px;
}


// 리뷰북 색상
.color-0 {
    background-color: #C6A477;
}

.color-1 {
    background-color: #ecd59f;
}

.color-2 {
    background-color: #d3e7ee;
}

.color-3 {
    background-color: #abd1dc;
}

.color-4 {
    background-color: #7097a8;
}

.color-5 {
    background-color: #fbb0a9;
}

.color-6 {
    background-color: #e38b75;
}

.color-7 {
    background-color: #d7897e;
}

.color-8 {
    background-color: #c55f4e;
}

.color-9 {
    background-color: #63474d;
}

.color-10 {
    background-color: #aa767c;
}

.color-11 {
    background-color: #d6a184;
}

.color-12 {
    background-color: #ffa686;
}

.color-13 {
    background-color: #fec196;
}

.color-14 {
    background-color: #003049;
}

.color-15 {
    background-color: #d62828;
}

.color-16 {
    background-color: #f77f00;
}

.color-17 {
    background-color: #fcbf49;
}

.color-18 {
    background-color: #eae2b7;
}

.color-19 {
    background-color: #bcc5af;
}

.color-20 {
    background-color: #81a590;
}

.color-21 {
    background-color: #d8d7d7;
}

.color-22 {
    background-color: #ffc3b1;
}

.color-23 {
    background-color: #ff3366;
}

.color-24 {
    background-color: #f67280;
}

.color-25 {
    background-color: #f3d7ca;
}

.color-26 {
    background-color: #e6a4b4;
}

.color-27 {
    background-color: #c86b85;
}

.color-28 {
    background-color: #c8f4de;
}

.color-29 {

    background-color: #a4e5d9;
}

.color-30 {

    background-color: #66c6ba;
}

.color-31 {
    background-color: #649dad;
}

.color-32 {
    background-color: #427996;
}

.color-33 {
    background-color: #be8abf;
}

.color-34 {
    background-color: #ea9abb;
}

.color-35 {
    background-color: #4a266a;
}

.color-36 {
    background-color: #7f4a88;
}

.color-37 {
    background-color: #3282b8;
}

.color-38 {
    background-color: #46b3e6;
}

.color-39 {
    background-color: #005792;
}

.color-40 {
    background-color: #ed8d8d;
}

.color-41 {
    background-color: #8d6262;
}

.color-42 {
    background-color: #4d4545;
}

.color-43 {
    background-color: #393232;
}