// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

:root {
    --ion-color-primary: #c6a477;
    --border-color: #c6a477;
}

.header-translucent-ios ion-toolbar {
    --opacity: 100;
    // --backdrop-filter: none;

}

ion-toolbar {
    --ion-color-primary: #333;

}

.header-ios ion-toolbar:last-child {
    --border-width: 0 0 0;
}

.filter {
    width: 26px;
    height: 26px;
    margin-right: 12px;
    vertical-align: middle;
}

ion-item.textarea-wrap {
    --inner-padding-end: 0px;
    --border-style: none;
    ion-textarea {
        margin: 3px 0px 10px 0px;
        padding: 10px 0px 5px 10px;
        border: 1px solid rgba(0, 0, 0, 0.13);
    }
}


.rating-wrap {
    position: relative;
    margin: 0 auto 16px;

    rating {
        margin: 0 auto;
    }

    .btn-search {
        position: fixed;
        right: 15px;
    }
}

.rating-view-wrap {
    position: relative;
    margin: 0 auto 16px;
    width: fit-content;
}

.btn-like {
    padding: 10px;
}

ion-fab-button {
    --background-activated: #b8986f;
    --background-hover: #d8b485;
    margin-right: 4px;
    margin-bottom: 20px;
}


ion-button.btn {
    font-size: 15px;
    height: 55px;
    text-align: center;
    --background: #c6a477;
    --background-activated: #c6a477;
    --background-hover: #c6a477;
    --border-color: #fff;
    border: 1px solid;
    --border-width: 10px;
    --box-shadow: none;
    --color: #fff;
    --color-activated: #fff;
    --color-focused: #fff;
    --color-hover: #fff;
}