<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start" >
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  
    <ion-title>새로운 리뷰</ion-title>
    
    <ion-buttons slot="end">
      <ion-button>
        저장
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
    <ion-item lines="none" >
        <!-- <rating size="default" style="margin: 0 auto;" >
        </rating> -->
        <ion-icon name="search" slot="end"></ion-icon>
      </ion-item>
  
</ion-toolbar>
<ion-content padding >

<ion-grid>
<ion-row>
  <ion-col size='4'>
    <ion-img src="https://file2.nocutnews.co.kr/newsroom/image/2019/05/22/20190522222255192726_0_777_1111.jpg">
    </ion-img>
  </ion-col>
  <ion-col size='8'>
    <ion-item>
      <ion-input placeholder="제목"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="감독"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="개봉일"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size='12'>
    <ion-item>
      <ion-label>장르</ion-label>
      <ion-select interface="popover">
        <ion-select-option value="SF">SF</ion-select-option>
        <ion-select-option value="action">action</ion-select-option>
        <ion-select-option value="war">전쟁</ion-select-option>
        <ion-select-option value="comedy">코미디</ion-select-option>
        <ion-select-option value="family">가족</ion-select-option>
        <ion-select-option value="horror">공포</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">줄거리</ion-label>
      <ion-textarea rows="6" cols="20" placeholder="줄거리..."></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>관람일</ion-label>
      <ion-datetime value="2019-07-19" placeholder="관람일"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">관람장소</ion-label>
      <ion-input type="text" style="text-align: right"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">금액</ion-label>
      <ion-input type="text" style="text-align: right" placeholder="원"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">명대사</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">감상평</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">태그</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-note>태그는 쉼표(,) 를 통해 구분되며 쉼표의 앞뒤에 있는 빈칸은 무시됩니다.</ion-note>
    </ion-item>
  </ion-col>
</ion-row>
<ion-label >사진</ion-label>
<ion-row>
  <ion-col size='3'>
    <ion-img src="https://file2.nocutnews.co.kr/newsroom/image/2019/05/22/20190522222255192726_0_777_1111.jpg">
      </ion-img>
  </ion-col>
  <ion-col size='3'>

    <ion-button expand="full" color='danger'>추가</ion-button>
  </ion-col>
</ion-row>
</ion-grid>

</ion-content>