<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{data?.trackName}}</ion-title>
    <ion-buttons slot="end" *ngIf="data">
      <ion-button *ngIf="writer" (click)="deleteReview()">
        <ion-icon class="detail-icon" src="assets/icon/trash-outline.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="writer" (click)="editReview()">
        <ion-icon class="detail-icon" src="assets/icon/create-outline.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="data">
    <ion-item lines="none" class="rating-view-wrap">
      <ion-icon size="large" name="star" *ngFor="let num of [1,2,3,4,5]"
        [style.color]="data.rating >=num ? '#ffbf00':'#e0e0e0'">
      </ion-icon>
    </ion-item>
    <ion-row>
      <ion-col size="4">
        <div class="image-wrap">
          <img [src]="data.artworkUrl100" *ngIf="data?.artworkUrl100; else defaultImage">
        </div>
        <ng-template #defaultImage>
          <div class="default-image">
            <p>No</p>
            <p>Image</p>
          </div>
        </ng-template>
      </ion-col>
      <ion-col size='8' class="img-left-warp">
        <ion-item>
          <ion-label class="track-name">{{data.trackName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="artist-name">{{data.artistName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="collection-name">{{data.collectionName}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="info-bottom">
      <ion-col>
        <ion-item>
          <ion-label>장르</ion-label>
          <span>{{data.primaryGenreName}}</span>
        </ion-item>
        <ion-item>
          <ion-label>발매일</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" value="{{data.releaseDate}}" readonly> </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>감상일</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" value="{{data.listeningDate}}" readonly> </ion-datetime>
        </ion-item>
        <ion-item class="textarea-wrap" lines="none">
          <ion-label position="fixed">감상평</ion-label>
        </ion-item>
        <ion-item class="textarea-wrap">
          <ion-textarea autoGrow readonly value="{{data.review}}"></ion-textarea>
        </ion-item>
        <div class="tag-wrap" *ngIf="data.tags[0]!==''">
          <ion-item lines="none">
            <ion-label class="tag-label" position="fixed">태그</ion-label>
          </ion-item>
          <div class="tags">
            <ion-chip *ngFor="let item of data.tags" color="danger" (click)="searchTag(item)">
              <ion-label color="danger">{{item}}</ion-label>
            </ion-chip>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon class="detail-icon" src="assets/icon/heart.svg" class="btn-like" *ngIf="likeState"
        (click)="cancelLike()" mode="md" [style.color]="'#D33131'"></ion-icon>
      <ion-icon class="detail-icon" src="assets/icon/heart.svg" class="btn-like" *ngIf="!likeState" (click)="addLike()"
        mode="md" [style.color]="'#e0e0e0'">
      </ion-icon>
      <p class="like-count">{{likeCnt}}</p>
      <ion-button (click)="openLikerModal()">
        <ion-icon class="detail-icon" name="ios-more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="data">
      <ion-button (click)="shareReview()">
        <ion-icon class="detail-icon" src="assets/icon/share-outline.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>