@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

ion-content {
    font-family: 'Noto Sans KR', sans-serif;
}

ion-title {
    padding-left: 60px;
    padding-right: 130px;
    text-align: left;
}

ion-input,
ion-textarea,
ion-datetime,
span {
    font-size: 13px;
    color: #111;
}


ion-datetime {
    padding-left: 0px;
    padding-right: 3px;
}


ion-row.info-bottom ion-label {
    font-size: 13px;
    margin: 13px 3px;
    font-weight: 500;
    --color: #222;
}

ion-item.textarea-wrap>ion-label,
ion-item>ion-label.tag-label {
    font-size: 15px;
    margin: 21px 3px 7px;
}

div.image-wrap {
    height: 145px;
    align-items: center;
    justify-content: center;
    display: contents;

    img {
        margin-left: 5px;
        margin-top: 8px;
        width: 100px;
        height: 100px;
    }
}

.default-image {
    border: 1px solid #eee;
    display: block;
    padding-top: 25px;
    margin-top: 5px;
    margin-left: 8px;
    height: 100%;

    p {
        width: 100%;
        vertical-align: middle;
        text-align: center;
        font-size: 16px;
        height: 20px;
        color: #666;
    }
}

.img-left-warp {

    .track-name {
        font-size: 13px;
        color: #000;
        font-weight: 450;
    }

    .artist-name {
        font-size: 13px;
        color: #000;
    }

    .collection-name {
        font-size: 11px;
        color: #222;
    }
}


.tag-notice {
    font-size: 11px;
    color: #555;
    padding-left: 16px;
}