<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{reviewbookTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="info-stats" name="information-circle-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openWritePage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid *ngIf="reviews">
    <ion-row>
      <ion-col size="4" *ngFor="let review of reviews">
        <ion-card (click)="openReivewDetailPage(review)">
          <img [src]=review.image />
          <ion-card-header>
            <ion-card-subtitle>{{review.name}}</ion-card-subtitle>
            <ion-card-title>{{review.phoneNumber}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="stars">★★★★★</p>
            <p class="preview">{{review.evaluation}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>