ion-input,
ion-textarea,
span {
    font-size: 14px;
}

ion-item {
    --min-height: 30px;
    --padding-start: 10px;
    --padding-end: 10px;

}

ion-label {
    margin-left: 3px;
}

ion-label.stacked {
    font-size: 14px !important;
    padding-bottom: 10px;
}

ion-item>ion-label,
ion-datetime {
    font-size: 14px;
}

ion-datetime {
    padding-left: 0px;
}


div.image-wrap {
    height: 145px;
    align-items: center;
    justify-content: center;
    display: contents;

    img {
        padding-left: 8px;
        padding-top: 5px;
        width: 120px;
        height: 145px;
    }
}

.default-image {
    border: 1px solid #eee;
    display: block;
    padding-top: 25px;
    margin-top: 5px;
    margin-left: 8px;
    height: 100%;

    p {
        width: 100%;
        vertical-align: middle;
        text-align: center;
        font-size: 16px;
        height: 20px;
        color: #666;
    }
}

.author {
    font-size: 13px;
    color: #333;
}

.pub {
    font-size: 12px;
}

.book-description {
    font-size: 13px;
}

.tag-notice {
    font-size: 11px;
    color: #555;
    padding-left: 16px;
}