<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{category_kr}} 리뷰북 리스트</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!editState" (click)="editList(editState)">편집</ion-button>
      <ion-button *ngIf="editState" (click)="editList(editState)">완료</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateReviewbookModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="reviewbook-wrap">
    <ion-grid fixed>
      <ion-row  *ngFor="let reviewbook of reviewbooks" >
        <ion-col size="1" *ngIf="editState" align-self-center class="btn-revmove-wrap">
          <ion-button class="btn-remove" color="none" fill="clear" (click)="deleteReviewbook(reviewbook._id)">
            <ion-icon name="remove-circle" mode="md" color="danger" size="large"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col full>
          <ion-card mode="ios" (click)="!editState && goToReviewbookPage(reviewbook); editState && openEditReviewbookModal(reviewbook)" class="color-{{reviewbook.color}}">
            <div class="card-top-wrap">
              <p class="reviewbook-title">{{reviewbook.title}}</p>
            </div>
            <div class="card-bottom-wrap">
              <span class="last-date">마지막 리뷰 {{reviewbook.lastDate | date:'yyyy.MM.dd'}}</span>
              <span class="review-cnt">{{reviewbook.count}}개</span>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>