ion-card-title {
    margin-left: 20px;
    font-size: 20px;
}

ion-chip {
    padding: 3px 10px;
    font-size: 12px;
}

.card-top-wrap{
    height: 56px;
}
.card-bottom-wrap {
    float: right;
    margin: 5px 13px;
}

.last-date {
    margin-right: 10px;
}

.review-cnt{
    letter-spacing: 0.7px;
}