.btn-remove {
    --padding-start: 3px;
}


ion-col {
    --ion-grid-column-padding: 0px;
}

ion-card {
    margin: 9px 14px 0px;
    padding: 18px 25px;
    box-shadow: none;
}

ion-grid{
    margin-top: 10px;
}

.reviewbook-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 530;
}

.card-bottom-wrap {
    float: right;
    color: #eeeeee;
}

.last-date {
    margin-right: 10px;
    font-size: 11px;
}

.review-cnt {
    padding-left: 3px;
    letter-spacing: 0.7px;
    font-size: 11px;
    color: #eeeeee;
}
