// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

:root{
    --ion-color-primary: #c6a477;
    --border-color:#c6a477;
}
ion-toolbar{
    background-color: #fff;
    --ion-color-primary: #333;
    
}
ion-title{
    text-align: center;
}


ion-fab-button {
    --background-activated: #b8986f;
    --background-hover: #d8b485;
    margin-right: 4px;
    margin-bottom: 20px;
}