form {
    margin-top: 30px;
}

ion-item{
    --padding-start:0px;
    --inner-padding-start: 16px;
    --inner-padding-end: 16px;
    --min-height: 60px;
}
ion-item.confirm-wrap{
    --inner-padding-end: 0px;
}
ion-input{
    font-size: 15px;
}

.label-fixed {
    color: #333;
    font-size: 15px;
}

.btn-register{
    margin: 50px 0 20px;
}