<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>나의 리뷰</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        편집
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid *ngIf="review">
    <ion-row>
      <ion-col size='4'>
        <ion-img src="https://image.tmdb.org/t/p/w500{{review.posterPath}}" *ngIf="review.posterPath">
        </ion-img>
      </ion-col>
      <ion-col size='8'>

        <ion-text>
          <h3>{{review.title}}</h3>
        </ion-text>
        <ion-text>
          <p>{{review.director}}</p>
        </ion-text>
        <ion-text>
          <p>{{review.releaseDate|date:'yyyy-MM'}}</p>
        </ion-text>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size='12'>


        <ion-item>
          <ion-label>장르</ion-label>
          <ion-note slot="end" color="success">{{movieService.getGenre(review.genre)}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>관람일</ion-label>
          <ion-note slot="end" color="success">{{review.watchDate|date:'yyyy-MM-dd'}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">줄거리</ion-label>
          <ion-text disabled rows="3">
            {{review.overview}}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">명대사</ion-label>
          <ion-text disabled rows="3">{{review.famouseLine}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">감상평</ion-label>
          <ion-text disabled rows="3">{{review.review}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">태그</ion-label>
          <p>
            <ion-chip color={{colors[i%6]}} *ngFor="let tag of tags;let i=index;">
              <ion-label>{{tag}}</ion-label>
            </ion-chip>
          </p>
        </ion-item>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openDeleteAlert()">
        <ion-icon name="trash" color="danger" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-buttons style="display: block">
        <ion-button (click)="openShareAlert()">
          <ion-icon name="share-alt" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="share" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>