<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>마이페이지</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()" [disabled]="!profileForm.valid">
        <ion-icon name="md-checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-avatar style="margin: 10pt auto;">
    <img [src]='imageService.profile'>
  </ion-avatar>

  <ion-list *ngIf="user">
    <form [formGroup]="profileForm">
      <ion-item>
        <ion-label position="fixed">닉네임</ion-label>
        <ion-input type="text" value="{{user?.nickname}}" formControlName="nickname"></ion-input>
      </ion-item>
    </form>
    <ion-item>
      <ion-label position="fixed">아이디</ion-label>
      <ion-input type="text"  text-right readonly>{{user.email}}</ion-input>
    </ion-item>
  </ion-list>
  <ion-item button (click)='uploadprofile()'>
    <ion-icon name="person"></ion-icon>
    <ion-label>
      <h3>프로필 사진 변경</h3>
    </ion-label>
    <ion-icon slot="end"></ion-icon>
  </ion-item>
  <ion-item button>
    <ion-icon name="sad"></ion-icon>
    <ion-label>
      <h3>탈 퇴</h3>
    </ion-label>
    <ion-icon slot="end" name="ios-arrow"> </ion-icon>
  </ion-item>
</ion-content>