<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>마이페이지</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()" [disabled]="!profileForm.valid">
        <ion-icon name="md-checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item lines="none">
    <ion-avatar style="margin: 10pt auto;" (click)='uploadprofile()'>
      <img [src]='imageService.profile'>
    </ion-avatar>
  </ion-item>
  <ion-list *ngIf="user">
    <form [formGroup]="profileForm">
      <ion-item>
        <ion-label position="fixed">닉네임</ion-label>
        <ion-input type="text" [value]="user?.nickname" formControlName="nickname"></ion-input>
      </ion-item>
    </form>
    <ion-item>
      <ion-label position="fixed">아이디</ion-label>
      <ion-input type="text" readonly>{{user.email}}</ion-input>
    </ion-item>
  </ion-list>
  <ion-item button lines="none">
    <ion-text>회원탈퇴</ion-text>
  </ion-item>
</ion-content>