<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{reviewbookTitle}}</ion-title>
    <!--filter-->
    <ion-buttons slot="end">
        <ion-icon class="sorting" *ngIf="sorting" (click)="changeSort()" name="arrow-dropup" mode="md" size="large">
        </ion-icon>
        <ion-icon class="sorting" *ngIf="!sorting" (click)="changeSort()" name="arrow-dropdown" mode="md" size="large">
        </ion-icon>
        <ion-icon (click)="presentActionSheet()" class="filter" name="funnel" mode="md" size="large"></ion-icon>
      </ion-buttons>
      <!--filter-->
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchReview($event)" mode="ios" placeholder="검색">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openWritePage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid *ngIf="reviews">
    <ion-row>
      <div *ngIf="!reviews|| reviews==''" class="msg-wrap">
        {{msg}}
      </div>
      <ion-col size="4" *ngFor="let review of reviews">
        <ion-card (click)="openReivewDetailPage(review._id)">
          <img [src]=review.image />
          <ion-card-content>
            <ion-icon class="list-star-icon" name="star" *ngFor="let num of [1,2,3,4,5]"
              [style.color]="review.rating >=num ? '#ffbf00':'#e0e0e0'">
            </ion-icon>
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>{{review.title}}</ion-card-title>
            <ion-card-subtitle>{{review.author}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>